@model GarageServiceApp.Models.ServiceReceived

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ServiceReceived</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LicensePlate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LicensePlate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VIN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VIN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StateBeforeRepair)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StateBeforeRepair)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerComplaint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerComplaint)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InitialDiagnosis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InitialDiagnosis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstimatedCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstimatedCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceivedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceivedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TechnicianName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TechnicianName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
