@model IEnumerable<GarageServiceApp.Models.ServiceReceived>

@{
    ViewData["Title"] = "ServiceReceived";
}


<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        @* <h2 class="mb-0">@ViewData["Title"]</h2> *@
        <h2 class="mb-0">Cars Received</h2>
        <a asp-action="Create" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i>New Car Received
        </a>
    </div>
    <table class="table table-hover table-striped">
        <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarModel)
            </th>
     
           
            <th>
                @* @Html.DisplayNameFor(model => model.StateBeforeRepair) *@
                BeforeReair
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerComplaint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InitialDiagnosis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimatedCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceivedDate)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.TechnicianName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarModel)
            </td>
      
           
            <td>
                @Html.DisplayFor(modelItem => item.StateBeforeRepair)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerComplaint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InitialDiagnosis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimatedCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceivedDate)
            </td>
         
            <td>
                @Html.DisplayFor(modelItem => item.TechnicianName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning me-1">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info me-1">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
    @if (!Model.Any())
    {
        <div class="alert alert-info mt-3">No customers found. Click "Create New Customer" to add one.</div>
    }


</div>