@model IEnumerable<GarageServiceApp.Models.ServiceDetail>

@{
    ViewData["Title"] = "Index";
}
 

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        @* <h2 class="mb-0">@ViewData["Title"]</h2> *@
        <h2 class="mb-0">Services </h2>

        <a asp-action="Create" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i>  New Service
        </a>
    </div>
    <table class="table table-hover table-striped">
        <thead class="table-dark">
        <tr>
            <th>
                Car Customer
                @* @Html.DisplayNameFor(model => model.ServiceReceived) *@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceName)
            </th>
         
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActualHours)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.StartedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompletedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TechnicianName)
            </th>
        
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceReceived.CarModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceName)
            </td>
  
      
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActualHours)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.StartedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompletedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TechnicianName)
            </td>
           
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning me-1">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info me-1">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                    </td>
        </tr>
}
    </tbody>
</table>

    @if (!Model.Any())
    {
        <div class="alert alert-info mt-3">No customers found. Click "Create New Customer" to add one.</div>
    }
</div>