@model GarageServiceApp.Models.CarPhoto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CarPhoto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceReceived)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceReceived.CarModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhotoPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhotoDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhotoType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TakenDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TakenDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TakenBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TakenBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileExtension)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileExtension)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@if (!string.IsNullOrEmpty(Model.PhotoPath))
{
    <div class="mb-3">
        <h5>Photo Preview:</h5>
        <img src="~/@Model.PhotoPath" alt="Car Photo" class="img-fluid img-thumbnail" style="max-height: 300px;" />
    </div>
}
